h1 {
    font-family:'Courier New', Courier, monospace;
    color: blue;
    background-color: yellow;
    
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    background-color: aqua;
    text-align: center;

}
li {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background-color: yellow;
    text-align: right;
}
ul li {
    text-align: left;
}